apiVersion: apps/v1
kind: Deployment
metadata:
  name: api
  namespace: simplyfi
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api
  template:
    metadata:
      labels:
        app: api
    spec:
      containers:
        - name: api
          image: ajayy47/backend:latest
          ports:
            - containerPort: 8080
          envFrom:
            - configMapRef:
                name: mongo-config
            - secretRef:
                name: mongo-secret
          readinessProbe:
            httpGet:
              path: /api/tutorials
              port: 8080
            initialDelaySeconds: 20
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 30
            periodSeconds: 20
---
apiVersion: v1
kind: Service
metadata:
  name: api
  namespace: simplyfi
spec:
  selector:
    app: api
  ports:
    - port: 8080
      targetPort: 8080
  type: ClusterIP
